<div class="container py-3">
    <div class="row">
        <div class="title h1 text-center">Java Questions</div>
    </div>
    <!-- Card Start -->
    <div class="row gy-3">
        @for(question of questions;track $index){

        <div class="col-md-12 p-3 card">
            <div class="card-block px-6">
                @if (question.questionType==2) {
                    <p class="card-text">
                        {{($index+1)+")"+ question.question}}
                    </p>
                }@else {
                    <p class="card-text">
                     {{($index+1)+")"}} <img [src]="baseURL+question.question" alt="image not found" width="550px" height="250px"> 

                    </p>
                }

                
                @if(question.answerType==2){
                    <p class="card-text">
                        {{"A."+ question.answer}}
                    </p>
                }@else {
                    <p class="card-text">
                        A .<img [src]="baseURL+question.answer" alt="image not found" width="110px"> 
                    </p>

                }
               

                <div class="d-flex justify-content-end gap-2">
                    <button class="btn btn-primary" (click)="update(question)">Update</button>
                    <button class="btn btn-danger d-flex justify-content-end"
                        (click)="deleteQuestion(question.quesid)">Delete</button>
                </div>
            </div>
        </div>
        }
        
    </div>
    <!-- End of card -->
    <div class="row d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-primary" (click)="adminLogout()">Please Click here to go back login page</button>
    </div>
</div>
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator>
