.form-label {
    margin-right: 10px;
  }
  
  .form-control {
    margin-right: 10px;
  }
  
  button {
    margin-left: 10px;
  }
  .card{

    background-color: rgb(238, 236, 236);
  }

  
  .success {
    color: green;
  }
  
  .error {
    color: red;
  }
  